<section class="pt-10">
  <h2>Call to Action</h2>
  <p>Encourage your users to take action!</p>
</section>
<section class="prose text-muted">
  <p>
    This is a call to action section. You can use it to encourage your users to
    take action, such as subscribing to a newsletter, following you on social
    media, or checking out your latest project.
  </p>
  </section>